/* цвет основного текста #757575*/
/* вторичный цвет текста #212121 */
/* белый цвет #FFFFFF */
/* акцентный цвет текста #2196F3 */
/* вторичный цвет фона #F5F4FA;*/
/* цвет фона футера #2F303A; */
/* цвет фона #e5e5e5 */


:root {
    --primary-text-color:#212121;
    --text-color:#757575;
    --accent-color:#2196F3;
    --white-color:#ffffff;
    --secondary-background-color:#F5F4FA;
}

body {
   background-color: #ffffff;
   color: #757575;
   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
   text-decoration: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
 .container {
     margin-left: auto;
     margin-right: auto;
     width: 1170px;
     
 }

/* logo */ 

.header-link {
    color: var(--primary-text-color);

    font-family: Raleway,
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    cursor: pointer;
    text-decoration: none;

    }

span {
    color: var(--accent-color);
}

 /* navigation */ 

.header-navigation a {
    color:var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
}

.main-navigation .header-navigation .current 
{
    color: var(--accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.header-navigation a:hover,
.header-navigation a:focus
{ 
    color:var(--accent-color);
}

.header-list a {
    color:var(--text-color);
}

.header-list a:hover,
.header-list a:focus {
    color:var(--accent-color);
}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

header {
    background: var(--white-color);
}

  /* section hero */

 .hero-title {
    margin-top: 0;
    margin-bottom: 43;


    color:var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
 }

.header-link,
.header-item a {
    text-decoration: none;
}

.hero {
    
    background-color: #2F303A;
    text-align: center;
    margin-bottom: 94px;
}


/* section */

.section-title, 
.benefits-title,
.work-title,
.team-title,
.employee-title,
.portfolio-work,
.portfolio-title
{
    color:var(--primary-text-color);
}

.section-title, .portfolio-work {
visibility: hidden;
pointer-events: none;
position: absolute;
}

.portfolio-title {
    margin-bottom: 4px;
}

.benefits-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-text {
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
 }

.work-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.employee-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19; 
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0; 
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.team {
    background-color: #F5F4FA;
}

/* Button */

.btn-hero {
    border-radius:  4px;
    padding: 10px 32px;
    text-align: center;


    color: var(--white-color);

    background-color: var(--accent-color);
    font-family: inherit;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.btn-portfolio {
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;

    color: var(--primary-text-color);
    
    background-color: var(--secondary-background-coloror);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
    background-color: #F5F4FA;
    cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

 /* footer */

.footer-link a,
.footer-active a,
.footer-item a,
.footer-logo {
    text-decoration: none;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    color:var(--white-color);
}

.footer-link {
    color:var(--white-color);

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.footer-item a {
    color:rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.footer-link a {
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer-item a:hover,
.footer-item a:focus {
    color: var(--accent-color);
}

.footer-link a:hover,
.footer-link a:focus {
    color: var(--accent-color);
}

footer {
    background: #2F303A;
}
address {
    font-style: normal;
}